.section {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authors {
    width: 50%;
    max-width: 900px;
}

.indicatedForImg {
    width: 350px;
    margin-right: 50px;
}

.indicatedFor {
    width: 100%;
    max-width: 600px;
}