.section {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    height: 100vh;
    background-image: url("/autores.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.authors {
    width: 1200px;
}

.indicatedForImg {
    width: 350px;
    margin-right: 50px;
}

.indicatedFor {
    width: 100%;
    max-width: 600px;
}

@media (max-width: 768px) {
    .section {
        padding: 50px 20px;
    }

    .hero {
        height: 100svh;
        background-image: url("/autores_mobile.jpg");
        background-position: 54% center;
    }

    .authors {
        width: 100%;
    }

    .indicatedForContainer {
        flex-direction: column;
    }

    .indicatedForItem {
        flex-direction: row-reverse;
    }

    .indicatedForImg {
        width: 100%;
        margin-bottom: 40px;
    }

    .indicatedForContent {
        align-items: center!important;
    }

    .instBox {
        margin-right:0!important;
        margin-left:0!important;
    }

    .instName {
        justify-content: center!important;
        margin-top: 20px;
    }

    .instDesc {
        text-align: center;
    }

    .gui {
        flex-direction: column;
        margin-bottom: 75px!important;
    }

    .giu {
        flex-direction: column-reverse;
    }

    .sectionContent {
        width: 100%!important;
        text-align: center;
    }

    .buySection {
        flex-direction: column;
    }

    .buyTitle {
        width: 100%!important;
        margin-right: 0!important;
        margin-bottom: 20px;
    }

    .buyFinal {
        text-align: center;
        align-items: center;
    }

    .footer {
        width: 100%!important;
        text-align: center !important;
    }

    .footerTop {
        flex-direction: column;
    }

    .footerLogo {
        margin-right: 0!important;
        margin-bottom: 25px;
    }

    .footerBottom {
        flex-direction: column;
    }

    .footerCopy {
        margin-bottom: 15px;
    }

    .aula {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}